/*text input*/
.scrollableContainer-2NUZem {
  border-radius: 32px;
}

/*DM buttons... etc..*/
.layout-2DM8Md {
  border-radius: 32px;
  transition: 0.1s;
}
.layout-2DM8Md:hover {
  border-radius: 32px;
  padding: 0 5px 0 5px;
}
.selected-aXhQR6 .layout-2DM8Md {
  border-radius: 32px;
  padding: 0 5px 0 5px;
}

/*server channels, etc...*/
.content-3at_AU {
  border-radius: 16px;
}

/*connected to vc, etc...*/
.content-3xS9Lh {
  border-radius: 16px;
}

/*user pop-out*/
.userPopout-3XzG_A {
  border-radius: 32px;
}
/*message in pop-out*/
.input-cIJ7To {
  border-radius: 32px;
}

/*user profile*/
.input-cIJ7To {
  border-radius: 32px;
}
/*connections on profile*/
.connectedAccount-36nQx7 {
  border-radius: 32px;
}
/*mutual servers profile, etc...*/
.listRow-hutiT_ {
  border-radius: 32px;
}
.root-SR8cQa {
  border-radius: 32px;
}

/*server channel icons*/
.icon-1_QxNX {
  color: #5865f2b0;
}
.modeSelected-1zApJ_ .icon-1_QxNX,
.modeSelected-1zApJ_:hover .icon-1_QxNX,
.modeUnread-1zpFdA .icon-1_QxNX,
.modeUnread-1zpFdA:hover .icon-1_QxNX {
  color: #5865f2;
}
.icon-1tDorc {
  color: #5865f2b0;
}
.modeMuted-3osy7j .icon-1_QxNX,
.modeMuted-3osy7j {
  color: #5865f248;
}

/*send fq button, etc*/
.button-38aScr {
  border-radius: 32px;
}

/*right click menu*/
.menu-3sdvDG {
  border-radius: 22px;
}
/*inside menu^*/
.item-1tOPte {
  border-radius: 16px;
}

/*emote menu*/
.contentWrapper-SvZHNd {
  border-radius: 32px;
}

/*create channel pop-up, etc..*/
.contentWrapper-SvZHNd {
  border-radius: 32px;
}
/*footer*/
.footer-2gL1pp {
  border-radius: 0 0 32px 32px;
}

/*online players, etc..*/
.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover {
  border-radius: 32px;
}

/*top bar btns*/
.topPill-30KHOu .item-PXvHYJ {
  border-radius: 16px;
}

/*active now*/
.outer-1AjyKL {
  border-radius: 32px;
}
.inset-3sAvek {
  border-radius: 30px;
}
/*right click pop-out*/
.popout-38lTFE {
  border-radius: 22px;
}
/*button in pop-out*/
.memberListItem-31QoHj {
  border-radius: 16px;
}
.wrapper-3Rixsz {
  border-radius: 16px;
}
/*its quiet for now...*/
.emptyCard-1RJw8n {
  border-radius: 128px;
  transition: 0.3s;
}

/*library*/
.rowWrapper-2fB6P0 {
  border-radius: 64px;
}

/*message buttons*/
.wrapper-2aW0bm {
  border-radius: 16px;
}
.wrapper-2aW0bm :first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.wrapper-2aW0bm :last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

/*message background*/
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode.full-motion .message-2qnXI6:hover {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
.mentioned-xhSam7 {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: #5865f218;
}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,
.mouse-mode.full-motion .mentioned-xhSam7:hover {
  background-color: #5865f218;
}
.mentioned-xhSam7:before {
  background-color: #5865f2;
}

/*blurple #5865F2*/
/*add server buttons left side*/
.circleIconButton-jET_ig {
  color: var(--text-normal);
}
/*when hovering^*/
.circleIconButton-jET_ig:hover {
  background-color: #5865f2;
}
/*when pressed^*/
.circleIconButton-jET_ig.selected-ugP_am {
  background-color: #5865f2;
}

/*create server pop-up*/
.root-1gCeng {
  border-radius: 32px;
}
/*buttons^*/
.container-UC8Ug1 {
  border-radius: 32px;
}

/*explore communities search*/
.search-1iTphC .searchBox-2_mAlO {
  border-radius: 32px;
}
/*header^*/
.headerImage-3X1tyY {
  border-radius: 32px;
}
/*servers^*/
.card-3DjzTQ {
  border-radius: 32px;
}

/*server welcome message*/
.optionContainer-15srkc {
  border-radius: 32px;
}

/*server search bar*/
.searchBar-3dMhjb {
  border-radius: 16px;
}

/*inbox*/
.container-enaOkj {
  border-radius: 32px;
}
.messagesPopoutWrap-1MQ1bW {
  border-radius: 32px;
}

/*embeds*/
.embed-IeVjo6 {
  border-radius: 32px;
}

/*reactions*/
.reaction-1hd86g {
  border-radius: 16px;
}

/*bottom name etc*/
.panels-j1Uci_ {
  border-radius: 0 0 0 0;
}

/*find or start convo*/
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  border-radius: 32px;
}
.platform-win .sidebar-2K8pFh {
  border-radius: 32px 0 0;
}

/*bot tag*/
.px-10SIf7.botTag-2WPJ74 {
  border-radius: 16px;
  background-color: var(--background-secondary-alt);
  color: #5865f2;
}
.rem-2m9HGf.botTag-2WPJ74 {
  border-radius: 16px;
  background-color: var(--background-secondary-alt);
  color: #5865f2;
}

/*quickswitcher popup*/
.quickswitcher-3JagVE {
  border-radius: 32px;
}
.input-2VB9rf {
  border-radius: 32px;
}
.input-2VB9rf {
  border-radius: 32px;
}

/* SETTINGS */

/*my account*/
.card-3Qj_Yx {
  border-radius: 32px;
}

/*settings buttons*/
.side-8zPYf6 .item-PXvHYJ {
  border-radius: 16px;
}

/*subscriptions page*/
/*your subscription banner*/
.banner-3Kac2g {
  border-radius: 64px;
}
.bannerBackgroundImage-1DMjWi {
  border-radius: 64px;
}
/*background boxes*/
.detailsBlock-FoDTGA {
  border-radius: 32px;
}
/*pay for it with*/
.selectClosed-2un0PJ {
  border-radius: 32px;
}
.selectOpen-hQuR6b {
  border-radius: 32px 32px 0 0;
}
.lookFilled-1h1y05.popout-2sKjHu {
  border-radius: 0 0 32px 32px;
}
/*nitro banner*/
.hero-EvfTTA {
  border-radius: 64px;
}
/*features*/
.feature-2w65J5 {
  border-radius: 32px;
}
.banner-WELp4M {
  border-radius: 32px;
}

/*gift inventory*/
.card-7JP0BX {
  border-radius: 64px;
}

/*server boost*/
.guild-Hq0WWA {
  border-radius: 32px;
}
.cardWrapper-2Min21 {
  border-radius: 32px;
}

/*billing*/
.paymentPane-3bwJ6A {
  border-radius: 32px;
}
/*page buttons^*/
.pageButtonNext-V2kUq0 {
  border-radius: 0 32px 32px 0;
}
.pageButtonPrev-1Y-47D {
  border-radius: 32px 0 0 32px;
}

/*connections*/
.connection-1fbD7X {
  border-radius: 32px;
}
.connectionHeader-2MDqhu {
  border-radius: 32px 32px 0 0;
}
.integration-3kMeY4 {
  border-radius: 32px;
}
.connectionDelete-2Odoln {
  border-radius: 16px;
}
.inner-2Y6JuD {
  border-radius: 64px;
}

/*overlay*/
/*record keybind input*/
.container-1nZlH6 {
  border-radius: 32px;
}

/*voice settings*/
/*input and output, etc..*/
.css-1a8reka-control {
  border-radius: 32px;
}
.css-1yegjoj-control {
  border-radius: 32px;
}
.css-2yldzf-control {
  border-radius: 32px 32px 0 0;
}
.css-n57xjs-menu {
  border-radius: 0 0 32px 32px;
}

/*grabber*/
.grabber-3mFHz2 {
  border-radius: 16px;
}

/*now playing*/
.notDetected-33MY4s,
.nowPlaying-284llR {
  border-radius: 64px;
}
.card-FDVird:before {
  border-radius: 64px;
}
.theme-dark .game-1ipmAa {
  box-shadow: none;
}

/*New stuff added 10.10.2020*/
.tooltip-2QfLtc {
  border-radius: 16px;
}

.popoutContainer-1MXdqN {
  border-radius: 32px;
}

.container-3JTnYm {
  border-radius: 32px;
}

/*NEW 10.10.2020*/
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
  height: 150px !important;
  width: 150px !important;
}
.avatarHint-1qgaV3 {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.avatarHintInner-Dco91E {
  font-size: 5px;
}

.item-3HknzM.item-PXvHYJ[aria-label="Add Friend"] {
  background-color: #5865f2 !important;
  color: rgb(255, 255, 255) !important;
}

.gameIcon-2YB8Et {
  border-radius: 32px;
}

.linkButtonIcon-Mlm5d6 {
  color: #5865f2;
}

/*.tooltipContent-bqVLWK {
    color:#5865F2;
}*/

/*embed changes*/
.embed-IeVjo6 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*Install button in library*/
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background-color: #5865f2;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: #5865f2;
}

.css-gvi9bl-control {
  border-radius: 32px;
}
.css-17e1tep-control {
  border-radius: 32px;
}
.css-6fzn47-control {
  border-radius: 32px 32px 0 0;
}

/*server invite*/
.wrapper-35wsBm {
  border-radius: 32px;
}

/*NEW 11.10.2020*/
/*Server permissions*/
.item-3T2z1R:first-child {
  border-radius: 32px 0 0 32px;
  margin-left: 5px;
}
.item-3T2z1R:last-child {
  border-radius: 0 32px 32px 0;
}

/*Library search bar*/
.container-cMG81i {
  border-radius: 32px;
}

/*Connections accounts*/
.accountList-33MS45 {
  border-radius: 32px;
}

/**
 * Snippet from #css-snippets applied the Sep 29, 2020 at 6:41:23 PM
 * Created by CorellanStoma#1996 (288362986991648778)
 * Snippet ID: 759933735520043008
 */
/* Blur Account */
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
  filter: blur(4px);
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg:hover {
  filter: blur(0px);
  transition: filter 0.5s;
}

/* Blur Billing */
.subText-V8PTt8 {
  filter: blur(2px);
}

.subText-V8PTt8:hover {
  filter: blur(0px);
  transition: filter 0.5s;
}

/* Blur Subscription */

.paymentSourceLabel-1lo4Ca {
  filter: blur(4px);
}

.paymentSourceLabel-1lo4Ca:hover {
  filter: blur(0px);
  transition: filter 0.5s;
}
/** 759933735520043008 */

.content-1x5b-n {
  /*server channels*/
  border-radius: 32px;
}

/*tooltip*/
.tooltip-2QfLtc {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(1.5px);
}
.tooltipPointer-3ZfirK {
  border-top-color: rgba(0, 0, 0, 0.5) !important;
}
/* .tooltipContent-bqVLWK {
    color:#b9003e;
}*/
/*.tooltipContent-bqVLWK {
    color:#5865F2;
}*/

.modeSelected-346R90 .icon-1DeIlz,
.modeSelected-346R90:hover .icon-1DeIlz,
.modeUnread-1qO3K1 .icon-1DeIlz,
.modeUnread-1qO3K1:hover .icon-1DeIlz {
  color: #5865f2;
}
.icon-1DeIlz {
  color: #5865f2be;
}
.modeMuted-3osy7j .icon-1_QxNX,
.modeMuted-3osy7j {
  color: #5865f228;
}

/*account page*/
.background-1QDuV2 {
  border-radius: 32px;
}
.fieldList-21DyL8 {
  border-radius: 32px;
}

/*privacy and safety*/
.item-26Dhrx {
  border-radius: 32px;
}
.radioBar-bMNUI- {
  border-radius: 32px;
}

/*new stuff 10-05-2021*/
/*Settings side buttons*/
.side-8zPYf6 .item-PXvHYJ {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 2px;
}

/*Add friend input*/
.wrapper-1cBijl {
  border-radius: 32px;
}

/* Better roles !!Created by Bowser65#0001!! */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;
}

/*server template input*/
.copyInput-2rOSt7 {
  border-radius: 32px;
}

/*powercord stuff*/
.developerPortalCtaWrapper-2XNafh {
  border-radius: 32px;
}
.powercord-entities-manage-tabs {
  border-radius: 32px;
}

/*quality of life*/
.attachWrapper-2TRKBi {
  order: 1;
  margin-left: 13px;
}
.attachButton-2WznTc {
  padding-right: 5px;
}
.buttonContainer-28fw2U
  > .button-38aScr:not(.emojiButton-pET4wH).colorBrand-3pXr91
  > .contents-18-Yxp:not(.stickerButton-3OEgwj) {
  position: fixed;
  visibility: hidden;
}
.search-36MZv- {
  order: -1;
}
.searchBar-3dMhjb {
  width: 28px;
  transition: width 0.6s ease-in-out;
  color: #fff;
  background: none;
}
.focused-31_ccS .searchBar-3dMhjb,
.open-6_Y_aH .searchBar-3dMhjb,
.searchBar-3dMhjb:hover {
  width: 240px;
  background: var(--background-tertiary);
}
.icon-3cZ1F_ {
  height: 24px;
  width: 24px;
  color: var(--interactive-normal);
}
.iconContainer-O4O2CN {
  bottom: 3px;
}
.search-36MZv- {
  margin-left: 0px;
}

/*Created by Awish#6969*/
/* Resizing the Emoji and making it large */
.emojiSection-3Fb9ix img {
  margin: auto;
  min-width: 80%;
  height: auto !important;
}
/* Resizing the Emoji and making it large End */

/* Text Wrapping */
.emojiSection-3Fb9ix > .noWrap-3jynv6,
.emojiSection-3Fb9ix {
  flex: wrap;
  flex-direction: column !important;
}
/* Text Wrapping End */

/* Adjusting the text weight and aligning it to center */
.emojiName-27Bjxw {
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
}
/* Adjusting the text weight and aligning it to center End */

/*add server button color fixes*/
.circleIconButton-1QV--U.selected-1JjBPm {
  background-color: #5865f2;
}
.circleIconButton-1QV--U {
  color: #5865f2;
}

/*more rounding*/
.section-2gLsgF {
  border-radius: 32px;
}
.activitySectionAssets-32WyHu .largeImage-DLXk-f  {
  border-radius: 32px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: #5865f2;
}

/*mutual servers icons*/
.iconActiveMedium-1UaEIR {
  border-radius: 32px;
}


.container-S9SaVf {
  border-radius: 32px;
}

/*dms and shit*/
.sidebar-2K8pFh {
  padding: 10px 5px 10px;
  background-color: var(--background-tertiary);
}
.privateChannels-1nO12o {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panels-j1Uci_ {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.scroller-1Bvpku {
  background-color:var(--background-tertiary);
}

/*friends and shit*/
.container-1D34oG {
  border-radius: 10px;
  padding: 10px 10px 10px 5px;
  background-color: var(--background-tertiary);
}
.theme-dark .container-1D34oG {
  background-color: var(--background-tertiary);
}
.container-1r6BKw.themed-ANHk51 {
  background-color: var(--background-primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tabBody-3YRQ8W {
  background-color: var(--background-primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*servers and shit*/
.guilds-1SWlCJ {
  padding: 10px 5px 10px 10px;
  background-color: var(--background-tertiary);
}
.scroller-1Bvpku {
  background-color: var(--background-secondary-alt);
  border-radius: 10px;
}
.tutorialContainer-2sGCg9 {
  padding-top: 5px;
}

/*chat and shit*/
.chat-3bRxxu {
  padding: 10px 10px 10px 5px;
  background-color: var(--background-tertiary);
}
.content-yTz4x3 {
  background-color: var(--background-primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*search bar above dms and shit*/
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 10px;
}

/*server name bar thing*/
.container-3w7J-x {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*server members and shit*/
.members-1998pB, .members-1998pB>div {
  border-bottom-right-radius: 10px;
}

/*stages and shit*/
.container-1a3EgQ {
  padding: 10px 10px 10px 5px;
}
.pageContent-1xgXch {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Library and shit*/
.container-3Mxszk {
  padding: 10px 10px 10px 5px;
}
.container-19hC9u {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.scroller-2XE8rp {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Nitro page and shit*/
.applicationStore-1pNvnv {
  padding: 10px 10px 10px 5px;
  background-color: var(--background-tertiary);
}
.scroller-9moviB {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*new popouts*/
.userPopout-xaxa6l {
  border-radius: 32px
}


/*discovery page and shit*/
.scroller-1d5FgU {
  background-color: var(--background-tertiary);
}


/*threads*/
.threadSidebar-1o3BTy {
    margin-top: 10PX;
    margin-right: 10PX;
    margin-bottom: 10PX;
    margin-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.container-3hZ-gs {
    border-radius: 10px;
}
